<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Shoe Store"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShoeStoreProject"
        tools:targetApi="31">
        <activity
            android:name=".UI_Layer.View.AdminActivity"
            android:exported="false" />
        <activity
            android:name=".UI_Layer.View.ProfileActivity"
            android:exported="true" />
        <activity
            android:name=".UI_Layer.View.PaymentActivity"
            android:exported="true" />
        <activity
            android:name=".UI_Layer.View.MapActivity"
            android:exported="true" />
        <activity
            android:name=".UI_Layer.View.CartActivity"
            android:exported="true"
            android:label="Merchant Demo"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="app"
                    android:scheme="demozpdk" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UI_Layer.View.DetailActivity"
            android:exported="false" />
        <activity
            android:name=".UI_Layer.View.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".UI_Layer.View.IntroActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UI_Layer.View.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".UI_Layer.View.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".UI_Layer.View.MainActivity"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/my_map_api_key" />
    </application>

</manifest>